@model LvivSocialServices.Models.Task

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Category
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>
                    @Model.CreationDateTime
                </small>
            </span>
        </h4>
    </div>
    <form id="@Model.TaskId" asp-action="Subscribe"
          asp-controller="TaskBag" method="post">
        <input type="hidden" name="taskId"
               value="@Model.TaskId"/>
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @Model.Description
            <button type="submit"
                    class="btn btn-success btn-sm pull-right" style="float:right">
                Add To TaskBag
            </button>
        </span>
        @*<div class="card-text p-1">@Model.Description </div>*@
        <div class="card-text p-1">@Model.Person.FirstName</div>
        <div class="card-text p-1">@Model.Person.LastName</div>
        <div class="card-text p-1">@Model.Person.Address</div>
        <div class="card-text p-1">@Model.Volunteer</div>
    </form>
</div>